.form_div {
    max-width: 490px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
    padding: 20px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
}

.form_header {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
}

.form_content {
    display: block;
    text-align: centre;
    align-items: flex-end;
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}

input {
    background-color: white;
}

@media only screen and (max-width:480px) {
    .form_header {
        flex-direction: column;
    }
    .form_content {
        margin-bottom: 15px;
    }
}