.profile_div {
    max-width: 490px;
    background: #fff;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 3px;
    padding: 20px;
    border-bottom: 1px solid #e6ecf0;
    border-top: 1px solid #e6ecf0;
}

.profile_header {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    font-weight: bold;
}

.profile_content {
    display: block;
    text-align: left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}




@media only screen and (max-width:480px) {
    .quote-header {
        flex-direction: column;
    }
    .profile_content {
        margin-bottom: 15px;
    }
    
}